.container {
  padding: 2vh 0 4vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px .02rem 0px #B485D8;
}

.option {
  padding: 1vh;
}

.option:active {
  color: #FFDD00
}